.App {
   width: 100vw;
   height: 100vh;
   gap: 0;
   overflow-x: hidden;
   flex-direction: column;
}

.icon {
   width: 25px;
}

.banner {
   width: 100%;
}

.cmp {
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   gap: 0;
   background-position: bottom;
}


.header {
   background-image: url('../assets/imgs/1.png');
   // max-height: 900px;

   .logo {
      height: 40%;

      img {
         padding: 1em 1.5em;
         // max-height: 150px;

         @media (max-width:500px) {
            padding: 0.5em 0.75em;
            // min-height: 75px;
         }
      }
   }

   .img {
      flex-basis: 60%;
      justify-content: end;
      align-items: center;
      // margin-right: -15%;
      position: relative;

      img {
         height: 80%;
         position: absolute;
         top: 5%;
         right: -5%;
      }
   }

   section.left {
      flex-direction: column;
      flex-basis: 40%;
      gap: 0;
   }

   .txt {
      height: 60%;

      flex-direction: column;
      align-items: center;
      // justify-content: center;
      font-family: Merriweather;
      font-size: 2.5vw;
      color: $gold1;
      text-align: center;
      white-space: nowrap;
   }

   .rec {
      height: 3.5px;
      width: 20vw;
      background: $gradient;
   }

}


.main {
   background: url('../assets/imgs/4.png');
   flex-direction: column;

   .img {
      position: absolute;
      top: 25%;
      bottom: 15%;
      left: -15%;
      width: 66.66%;

      img {
         flex: 1;
      }
   }

   .title {
      width: 100%;
      position: relative;



      // img {
      //    position: absolute;
      //    inset: 0;
      //    height: inherit;
      // }

      .txt {
         position: absolute;
         inset: 0;
         font-size: 2.5vw;
         color: $gold1;
         text-align: center;
         flex-direction: column;
         gap: 0;
         top: 0.5em;
         font-family: Merriweather;
      }
   }

   .sub-title {
      flex-direction: column;
      color: white;
      font-size: 1.8vw;
   }


   .cards {
      flex-direction: column;
      gap: 5%;
      z-index: 9999;
      color: black;
      font-family: Poppins;
      padding: 0% 15% 7.5% 7.5%;
   }

   .row {
      justify-content: end;
      height: 33.33%;
      font-size: 1.7vw;
      gap: 5%;
   }

   .card {
      width: 33%;
      aspect-ratio: 3/2;
      display: flex;
      flex-direction: column;
      padding: 1em;
      border-radius: 20px;
      background: $gold1;
      box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);

      b {
         font-weight: 700;
      }
   }


   .ribbon {
      color: black;
      flex-direction: column;
      width: 65%;
      align-self: end;
      background-color: #3498db;
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 1% 100%);
      gap: 0;
      padding: 1em;
      font-size: 1.7vw;
      font-family: Merriweather;
      text-align: center;
      background: linear-gradient(90deg, rgb(231, 184, 102) 15%, #FEF8C8 25%, rgb(231, 184, 102) 50%, #FEF8C8 150%);
   }

   .bottom {
      padding: 7.5%;
      background: black;
      flex-direction: column;
      gap: 2em;

      .txt1 {
         font-size: 2.5vw;
         flex-direction: column;
         align-self: end;
         font-family: Merriweather;

      }

      h1 {
         font-size: 3vw;
         font-family: Merriweather;
         font-weight: 600;
         color: $gold1;
         text-align: center;
      }
   }
}


.footer {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: white;
   color: black;
   font-size: 2.85vw;
   padding: 1em;
   font-family: Merriweather;

   b {
      font-weight: 600;
   }

   .icon {
      @media (max-width:700px) {
         width: 15px;
      }
   }

}